a {
    font-weight: 500;
    color: white;
    text-decoration: inherit;
  }
  a:hover {
    color: #242424;
  }
  
  a {
    font-weight: 500;
    color: black;
    text-decoration: inherit;
  }
  a:hover {
    color:  white;
  }
  
  h1 {
    font-size: 3.5em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: small;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #242424;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto 
  }
  
  .card {
    padding: 2em;
  }
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  .list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  form button {
  margin-left: 15px;
  }
  li{
    list-style-type: none;
  }
  
  .input{
    color: black;
    border-radius: 20px;
  }
  
  .container{
    border: 4px solid black;
    border-radius: 25px;
    background-color: #F5F5F5;
  }
  
  .konten{
    padding: 30px;
    color: solid black;
    font-family: 'Courier New', Courier, monospace;
  }
  